.outer {
  background-color: #d4d4d4;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5) translateX(15px);

  z-index: 1;
}

.ball {
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;

  transition: transform 0.2s linear;
}

.move {
  transform: translateX(24px);
}
