.outer {
  background-color: #d4d4d4;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5) translateX(15px);

  z-index: 1;
}

.ball {
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;

  transition: transform 0.2s linear;
}

.move {
  transform: translateX(24px);
}

.navbarBtn {
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;
  width: 70px;
  height: 35px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  z-index: 99;
}

.navbarBtnBurger {
  width: 30px;
  height: 4px;
  background: #36373b;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}

.navbarBtnBurger::before,
.navbarBtnBurger::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 4px;
  background: #36373b;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}

.navbarBtnBurger::before {
  transform: translateY(-10px);
}
.navbarBtnBurger::after {
  transform: translateY(10px);
}

/* ANIMATION */
.navbarBtn.open .navbarBtnBurger {
  transform: translateX(-65px);
  background: transparent;
}

.navbarBtn.open .navbarBtnBurger::before {
  transform: rotate(45deg) translate(45px, -45px);
}

.navbarBtn.open .navbarBtnBurger:after {
  transform: rotate(-45deg) translate(45px, 45px);
}
